/*重置样式表*/
/*==========样式重置===========*/
body,h1,h2,h3,h4,p,a,input,img,ul,li,ol,dl,dt,dd{
	padding:0;
	margin:0;}
ul,ol{
	list-style:none;}
img{
	display:block;
	border:0;}
input{
    /*去掉高亮*/
	outline:none;
	border:0 none;
}
header,footer,section,main,nav{
	display:block;}
body{
	font-size:0.16rem;/*12*/
	font-family:"微软雅黑";
	color:#3e3e3e;}
a{
	text-decoration:none;}
/*a:hover{
	text-decoration:underline;}*/
i{font-style:normal;}
*{box-sizing:border-box;}
body,html{height: 100%;}
.fl{float:left;}
.fr{float:right;}
.clearfix::after{
    content:"";
    display:block;
    height:0;
    clear:both;
    overflow:hidden;
    visibility: hidden;
    zoom:1;
}
