.regBox{height: 100%;padding-top: 20%;background-color: #e92577;}
.inputBox li span{display: inline-block;height: 36px;line-height: 36px;border-left: 1px solid #fff;padding-left: 10px;margin-bottom: 5px;font-size: 16px;color:#fff;}
.regbtn{width: 90%;margin: 0 auto;padding-top: 40px;}
.regbtn .reg{width: 100%;line-height: 40px;background-color: #fff;color:#e92577;border:0 none;border-radius: 20px;}
.tips{text-align: center;font-size: 14px;color:#fff;}
.tips a{color:#fff;}
.regTips{padding: 20px;font-size: 16px;color:#e92577;}